/*base*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}


/*common style*/

.layout {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.block-title {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 15px;
    color: #333;
}

.block-subtitle {
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 75px;
    color: #777;
}


/*header*/

header {
    position: relative;
    background-image: url(http://book.jirengu.com/jirengu-inc/jrg-tehui/homework/%E8%8B%A5%E6%84%9A/16/img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

header>nav {
    padding: 25px 0;
    margin-bottom: 20px;
    position: relative;
    z-index: 10;
}

header>nav .logo {
    float: left;
    padding: -15px;
    margin-left: 15px;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    color: #fed136;
}

header>nav>ul {
    float: right;
    margin-right: -15px;
}

header>nav>ul>li {
    float: left;
}

header>nav>ul>li>a {
    display: inline-block;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 20px;
    padding: 15px;
    color: #fff;
}

header>nav>ul>li>a:hover {
    color: #fed136;
}

header .container {
    padding: 200px 0;
    position: relative;
    text-align: center;
    color: #fff;
    z-index: 10;
}

header .container>h2 {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
}

header .container>p {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

header .container>a {
    display: inline-block;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3px;
    padding: 20px 40px;
    color: #fff;
    background: #fed136;
}


/*Slider-content*/

.wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1;
}

.content {
    position: absolute;
    /*left: -1907px;*/
}

.content li {
    float: left;
}

.content li img {
    width: 100%;
    height: 100%;
}


/* Slider-arrow */

.arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 0;
    color: #fff;
    z-index: 50;
    cursor: pointer;
}

.arrow.pre {
    left: 10px;
    top: 50%;
    margin-top: -15px;
    font-size: 10px;
}

.arrow.next {
    right: 10px;
    top: 50%;
    margin-top: -15px;
    font-size: 10px;
}


/* Slider-label */

.label {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20px;
}

.label li {
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
}

.label .active {
    background: #ccc;
}


/*main-services*/

#services {
    padding: 150px 0;
    text-align: center;
}

#services .services-list>li {
    float: left;
    width: 33.333%;
    padding: 0 15px;
}

#services .services-list>li>i {
    font-family: "iconfont" !important;
    display: inline-block;
    position: relative;
    font-style: normal;
    width: 112px;
    height: 112px;
    font-size: 56px;
    border-radius: 50%;
    color: #fff;
    background: #fed136;
}

#services .services-list>li>i::after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#services .services-list>li>i::before {
    display: inline-block;
    vertical-align: middle;
}

#services .services-list>li>h4 {
    margin: 15px 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    color: #333;
}

#services .services-list>li>p {
    line-height: 24px;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}


/*main-portfolio*/

.portfolio-list {
    position: relative;
}

.portfolio-list>li {
    position: absolute;
    width: 33.3333%;
    padding: 0 15px;
    margin-bottom: 30px;
    text-align: center;
}

.portfolio-list .cover {
    position: relative;
    font-size: 0;
    font-family: "iconfont" !important;
}

.portfolio-list .cover .cover-plus {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    font-size: 60px;
    color: #fff;
    transition: all .5s;
    background: #fed136;
}

.portfolio-list .cover .icon-plus:before {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    margin-left: -30px;
    margin-top: -33px;
}

.portfolio-list .cover:hover .cover-plus {
    display: inline-block;
    opacity: 1;
    background: rgba(254, 209, 54, .9);
}

.portfolio-list>li img {
    max-width: 100%;
}

.portfolio-list>li>h5 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 25px 25px 0 25px;
    font-size: 18px;
    line-height: 19px;
    font-weight: bold;
    color: #333;
}

.portfolio-list>li>p {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 25px 25px 25px;
    font-size: 16px;
    line-height: 28px;
    color: #777;
    font-style: italic;
}

.load-more-wrap {
    text-align: center;
}

#portfolio .load-more {
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3px;
    padding: 20px 40px;
    color: #fff;
    background: #fed136;
    border: none;
}


/*main-timeline*/

#about {
    padding: 150px 0;
}

.timeline>li {
    position: relative;
    text-align: center;
    padding: 0 0 125px 0;
    font-size: 0;
}

.timeline>li>img,
.timeline-last>p {
    width: 156px;
    border-radius: 50%;
    border: 7px solid #f1f1f1;
}

.timeline>li>div {
    position: absolute;
    top: 0;
    right: 50%;
    margin-right: 88px;
    text-align: right;
    width: 347px;
}

.timeline>li:nth-child(even)>div {
    left: 50%;
    margin-left: 88px;
    text-align: left;
}

.timeline>li::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: 1px;
    border-left: 2px solid #f1f1f1;
    height: 100%;
    z-index: -1;
}

.timeline>li:nth-child(5) {
    padding-bottom: 0;
}

.timeline>li>div h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: bold;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin-bottom: 10px;
}

.timeline>li>div p {
    line-height: 24px;
    font-size: 14px;
    color: #777;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.timeline-last>p {
    display: inline-block;
    padding-top: 40px;
    height: 156px;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    color: #fff;
    word-spacing: 2px;
    background: #fed136;
}


/*main-team*/

#team {
    padding: 150px 0;
}

.member>li {
    width: 33.33333333%;
    float: left;
    text-align: center;
}

.member>li>img {
    border-radius: 50%;
}

.member>li>h4 {
    margin-top: 25px;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    color: #333;
}

.member>li>p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
    color: #777;
}

.social {
    font-family: "iconfont" !important;
    font-size: 20px;
    color: #fff;
}

.social>li {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #222;
}

.social>li:hover {
    background: #fed136;
}

.member {
    margin-bottom: 50px;
}

#team>p:last-of-type {
    text-align: center;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 10px;
    color: #777;
}


/*main-partner*/

#partner {
    text-align: center;
}

#partner>img {
    display: inline-block;
    margin: 50px 30px;
}


/*footer*/

footer {
    padding: 150px;
    background-color: #222;
    background-image: url(http://book.jirengu.com/jirengu-inc/jrg-tehui/homework/%E8%8B%A5%E6%84%9A/16/img/map-image.png);
    background-repeat: no-repeat;
    background-position: center center;
}

footer .block-title {
    color: #fff;
}

.contact-left {
    float: left;
    width: 50%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.contact-left>input {
    display: block;
    margin-bottom: 25px;
    padding: 10px;
    width: 100%;
    height: 62px;
    line-height: 62px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #555;
}

.contact-left>input:nth-child(3) {
    margin: 0;
}

.contact-right {
    float: left;
    width: 50%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.contact-right>textarea {
    display: block;
    padding: 20px;
    width: 100%;
    height: 236px;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #555;
}

.btn {
    text-align: center;
}

.btn>input {
    display: inline-block;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 3px;
    background: #fed136;
    border: none;
    color: #fff;
}


/*copyright*/

#copyright {
    text-align: center;
    padding: 30px 0;
}

#copyright>ul li {
    margin-left: 10px;
}